In [18]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types

In [81]:
# !wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
!ls -lh fhv_tripdata_2019-10.csv.gz

-rw-r--r-- 1 anatolii anatolii 19M Mar  4 15:20 fhv_tripdata_2019-10.csv.gz

In [84]:
!zless  fhv_tripdata_2019-10.csv.gz

dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
B00009,2019-10-01 00:23:00,2019-10-01 00:35:00,264,264,,B00009
B00013,2019-10-01 00:11:29,2019-10-01 00:13:22,264,264,,B00013
B00014,2019-10-01 00:11:43,2019-10-01 00:37:20,264,264,,B00014
B00014,2019-10-01 00:56:29,2019-10-01 00:57:47,264,264,,B00014
B00014,2019-10-01 00:23:09,2019-10-01 00:28:27,264,264,,B00014
B00021         ,2019-10-01 00:00:48,2019-10-01 00:07:12,129,129,,B00021
B00021         ,2019-10-01 00:47:23,2019-10-01 00:53:25,57,57,,B00021
B00021         ,2019-10-01 00:10:06,2019-10-01 00:19:50,173,173,,B00021
B00021         ,2019-10-01 00:51:37,2019-10-01 01:06:14,226,226,,B00021
B00021         ,2019-10-01 00:28:23,2019-10-01 00:34:33,56,56,,B00021
B00021         ,2019-10-01 00:31:17,2019-10-01 00:51:52,82,82,,B00021
B00037,2019-10-01 00:07:41,2019-10-01 00:15:23,264,71,,B00037
B00037,2019-10-01 00:13:38,2019-10-01 00:25:51,264,39,,B00037
B00037,2019-10-01 00:42:40,2019-10-01 00:53:47,264,188,,B00037
B00037,2019-10-01 00:58:46,2019-10-01 01:10:11,264,91,,B00037
B00037,2019-10-01 00:09:49,2019-10-01 00:14:37,264,71,,B00037
B00037,2019-10-01 00:22:35,2019-10-01 00:36:53,264,35,,B00037
B00037,2019-10-01 00:54:27,2019-10-01 01:03:37,264,61,,B00037
B00037,2019-10-01 00:08:12,2019-10-01 00:28:47,264,198,,B00037
B00053,2019-10-01 00:05:24,2019-10-01 00:53:03,264,264,,#N/A
B00053,2019-10-01 00:03:32,2019-10-01 00:51:11,264,264,,B00888
fhv_tripdata_2019-10.csv.gzdispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
B00009,2019-10-01 00:23:00,2019-10-01 00:35:00,264,264,,B00009
B00013,2019-10-01 00:11:29,2019-10-01 00:13:22,264,264,,B00013
B00014,2019-10-01 00:11:43,2019-10-01 00:37:20,264,264,,B00014
B00014,2019-10-01 00:56:29,2019-10-01 00:57:47,264,264,,B00014
B00014,2019-10-01 00:23:09,2019-10-01 00:28:27,264,264,,B00014
B00021         ,2019-10-01 00:00:48,2019-10-01 00:07:12,129,129,,B00021
B00021         ,2019-10-01 00:47:23,2019-10-01 00:53:25,57,57,,B00021
B00021         ,2019-10-01 00:10:06,2019-10-01 00:19:50,173,173,,B00021
B00021         ,2019-10-01 00:51:37,2019-10-01 01:06:14,226,226,,B00021
B00021         ,2019-10-01 00:28:23,2019-10-01 00:34:33,56,56,,B00021
B00021         ,2019-10-01 00:31:17,2019-10-01 00:51:52,82,82,,B00021
B00037,2019-10-01 00:07:41,2019-10-01 00:15:23,264,71,,B00037
B00037,2019-10-01 00:13:38,2019-10-01 00:25:51,264,39,,B00037
B00037,2019-10-01 00:42:40,2019-10-01 00:53:47,264,188,,B00037
B00037,2019-10-01 00:58:46,2019-10-01 01:10:11,264,91,,B00037
B00037,2019-10-01 00:09:49,2019-10-01 00:14:37,264,71,,B00037
B00037,2019-10-01 00:22:35,2019-10-01 00:36:53,264,35,,B00037
B00037,2019-10-01 00:54:27,2019-10-01 01:03:37,264,61,,B00037
B00037,2019-10-01 00:08:12,2019-10-01 00:28:47,264,198,,B00037
B00053,2019-10-01 00:05:24,2019-10-01 00:53:03,264,264,,#N/A
B00053,2019-10-01 00:03:32,2019-10-01 00:51:11,264,264,,B00888
:

In [19]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

**Q1**: Version

In [20]:
spark.version

'3.3.2'

In [80]:
import pandas as pd
df_pandas = pd.read_csv('fhv_tripdata_2019-10.csv.gz')
df_pandas.dtypes

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID              float64
DOlocationID              float64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [40]:
# dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropOff_datetime', types.TimestampType(), True),
    types.StructField('PUlocationID', types.IntegerType(), True),
    types.StructField('DOlocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [41]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhv_tripdata_2019-10.csv.gz')

In [43]:

df = df.repartition(6)

df.write.parquet('data/pq/fhvhv/2019/10/', mode='overwrite')

In [9]:
df = spark.read.parquet('data/pq/fhvhv/2019/10/')

**Q2**: What is the average size of the Parquet

In [44]:
!ls -lh data/pq/fhvhv/2019/10/

total 39M
-rw-r--r-- 1 anatolii anatolii    0 Mar  4 20:22 _SUCCESS
-rw-r--r-- 1 anatolii anatolii 6.4M Mar  4 20:22 part-00000-f5bf4dae-13f3-4a45-a8f0-3d1d309f6351-c000.snappy.parquet
-rw-r--r-- 1 anatolii anatolii 6.4M Mar  4 20:22 part-00001-f5bf4dae-13f3-4a45-a8f0-3d1d309f6351-c000.snappy.parquet
-rw-r--r-- 1 anatolii anatolii 6.4M Mar  4 20:22 part-00002-f5bf4dae-13f3-4a45-a8f0-3d1d309f6351-c000.snappy.parquet
-rw-r--r-- 1 anatolii anatolii 6.4M Mar  4 20:22 part-00003-f5bf4dae-13f3-4a45-a8f0-3d1d309f6351-c000.snappy.parquet
-rw-r--r-- 1 anatolii anatolii 6.4M Mar  4 20:22 part-00004-f5bf4dae-13f3-4a45-a8f0-3d1d309f6351-c000.snappy.parquet
-rw-r--r-- 1 anatolii anatolii 6.4M Mar  4 20:22 part-00005-f5bf4dae-13f3-4a45-a8f0-3d1d309f6351-c000.snappy.parquet

In [45]:
from pyspark.sql import functions as F

**Q3**: How many taxi trips were there on the 15th of October?

In [46]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .filter("pickup_date = '2019-10-15'") \
    .count()

62610

In [47]:
df.registerTempTable('fhvhv_2019_10')

/home/anatolii/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [48]:
spark.sql("""
SELECT
    COUNT(1)
FROM 
    fhvhv_2019_10
WHERE
    to_date(pickup_datetime) = '2019-10-15';
""").show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

**Q4**: Longest trip for each day

In [50]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropOff_datetime',
 'PUlocationID',
 'DOlocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [61]:
df \
    .withColumn('duration', (df.dropOff_datetime.cast('long') - df.pickup_datetime.cast('long'))/3600) \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .groupBy('pickup_date') \
        .max('duration') \
    .orderBy('max(duration)', ascending=False) \
    .limit(5) \
    .show()

+-----------+-----------------+
|pickup_date|    max(duration)|
+-----------+-----------------+
| 2019-10-28|         631152.5|
| 2019-10-11|         631152.5|
| 2019-10-31|87672.44083333333|
| 2019-10-01|70128.02805555555|
| 2019-10-17|           8794.0|
+-----------+-----------------+

In [85]:
# spark.sql("""
# SELECT
#     to_date(pickup_datetime) AS pickup_date,
#     MAX((CAST(dropOff_datetime AS LONG) - CAST(pickup_datetime AS LONG)) / 60) AS duration
# FROM 
#     fhvhv_2021_02
# GROUP BY
#     1
# ORDER BY
#     2 DESC
# LIMIT 10;
# """).show()

In [62]:
https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2024-03-04 20:32:46--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T190730Z&X-Amz-Expires=300&X-Amz-Signature=14a2e653276c7955cd1e7e87d761a9498478515990133cd317a05133a8a72ff7&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2024-03-04 20:32:46--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T190730Z&X-Amz-Expires=300&X-Amz-Signature=14a2e653276c7955cd1e7e87d761a9498478515990133cd317a05133a8a72ff7&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-03-04 20:32:47 (140 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [69]:
zone_lookup_schema = types.StructType([
    types.StructField('LocationID', types.IntegerType(), True),
    types.StructField('Borough', types.StringType(), True),
    types.StructField('Zone', types.StringType(), True),
    types.StructField('service_zone', types.StringType(), True)
])

taxi_zone_lookup_df = spark.read \
    .option("header", "true") \
    .schema(zone_lookup_schema) \
    .csv('./taxi_zone_lookup.csv')
# taxi_zone_lookup_df.createOrReplaceTempView("taxi_zone_lookup")

[Row(LocationID=1, Borough='EWR', Zone='Newark Airport', service_zone='EWR'),
 Row(LocationID=2, Borough='Queens', Zone='Jamaica Bay', service_zone='Boro Zone'),
 Row(LocationID=3, Borough='Bronx', Zone='Allerton/Pelham Gardens', service_zone='Boro Zone'),
 Row(LocationID=4, Borough='Manhattan', Zone='Alphabet City', service_zone='Yellow Zone'),
 Row(LocationID=5, Borough='Staten Island', Zone='Arden Heights', service_zone='Boro Zone')]

**Q6**: Least frequent pickup location zone

In [76]:
df.join(taxi_zone_lookup_df, df.PUlocationID == taxi_zone_lookup_df.LocationID, 'inner') \
    .groupBy('Zone').count() \
    .orderBy('count', ascending=True) \
    .show()

+--------------------+-----+
|                Zone|count|
+--------------------+-----+
|         Jamaica Bay|    1|
|Governor's Island...|    2|
| Green-Wood Cemetery|    5|
|       Broad Channel|    8|
|     Highbridge Park|   14|
|        Battery Park|   15|
|Saint Michaels Ce...|   23|
|Breezy Point/Fort...|   25|
|Marine Park/Floyd...|   26|
|        Astoria Park|   29|
|    Inwood Hill Park|   39|
|       Willets Point|   47|
|Forest Park/Highl...|   53|
|  Brooklyn Navy Yard|   57|
|        Crotona Park|   62|
|        Country Club|   77|
|     Freshkills Park|   89|
|       Prospect Park|   98|
|     Columbia Street|  105|
|  South Williamsburg|  110|
+--------------------+-----+
only showing top 20 rows